*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

/* nunito-regular - latin */
/* @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.eot");
    src: local(""),
        url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.woff2") format("woff2"),
        url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.woff") format("woff"),
        url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.ttf") format("truetype"),
        url("./assets/fonts/nunito-v16-latin/nunito-v16-latin-regular.svg#Nunito") format("svg");
} */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    background-color: var(--nav);
    color: var(--text);
    overflow: hidden;
}

button {
    border: none;
    background: transparent;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--primary);
}

body.color_one {
    --primary: rgba(77, 200, 83, 1);
    --primary-o-1: rgba(77, 200, 83, 0.1);
    --primary-o-2: rgba(77, 200, 83, 0.2);
    --primary-o-3: rgba(77, 200, 83, 0.3);
    --primary-o-4: rgba(77, 200, 83, 0.4);
    --primary-o-5: rgba(77, 200, 83, 0.5);
    --primary-o-6: rgba(77, 200, 83, 0.6);
    --primary-o-7: rgba(77, 200, 83, 0.7);
    --primary-o-8: rgba(77, 200, 83, 0.8);
    --primary-o-9: rgba(77, 200, 83, 0.9);
}

body.color_two {
    --primary: rgba(247, 80, 82, 1);
    --primary-o-1: rgba(247, 80, 82, 0.1);
    --primary-o-2: rgba(247, 80, 82, 0.2);
    --primary-o-3: rgba(247, 80, 82, 0.3);
    --primary-o-4: rgba(247, 80, 82, 0.4);
    --primary-o-5: rgba(247, 80, 82, 0.5);
    --primary-o-6: rgba(247, 80, 82, 0.6);
    --primary-o-7: rgba(247, 80, 82, 0.7);
    --primary-o-8: rgba(247, 80, 82, 0.8);
    --primary-o-9: rgba(247, 80, 82, 0.9);
}

body.color_three {
    --primary: rgba(213, 52, 0, 1);
    --primary-o-1: rgba(213, 52, 0, 0.1);
    --primary-o-2: rgba(213, 52, 0, 0.2);
    --primary-o-3: rgba(213, 52, 0, 0.3);
    --primary-o-4: rgba(213, 52, 0, 0.4);
    --primary-o-5: rgba(213, 52, 0, 0.5);
    --primary-o-6: rgba(213, 52, 0, 0.6);
    --primary-o-7: rgba(213, 52, 0, 0.7);
    --primary-o-8: rgba(213, 52, 0, 0.8);
    --primary-o-9: rgba(213, 52, 0, 0.9);
}

body.color_four {
    --primary: rgb(246, 74, 129);
    --primary-o-1: rgba(246, 74, 129, 0.1);
    --primary-o-2: rgba(246, 74, 129, 0.2);
    --primary-o-3: rgba(246, 74, 129, 0.3);
    --primary-o-4: rgba(246, 74, 129, 0.4);
    --primary-o-5: rgba(246, 74, 129, 0.5);
    --primary-o-6: rgba(246, 74, 129, 0.6);
    --primary-o-7: rgba(246, 74, 129, 0.7);
    --primary-o-8: rgba(246, 74, 129, 0.8);
    --primary-o-9: rgba(246, 74, 129, 0.9);
}

body.color_five {
    --primary: rgb(198, 57, 97);
    --primary-o-1: rgba(198, 57, 97, 0.1);
    --primary-o-2: rgba(198, 57, 97, 0.2);
    --primary-o-3: rgba(198, 57, 97, 0.3);
    --primary-o-4: rgba(198, 57, 97, 0.4);
    --primary-o-5: rgba(198, 57, 97, 0.5);
    --primary-o-6: rgba(198, 57, 97, 0.6);
    --primary-o-7: rgba(198, 57, 97, 0.7);
    --primary-o-8: rgba(198, 57, 97, 0.8);
    --primary-o-9: rgba(198, 57, 97, 0.9);
}

body.color_six {
    --primary: rgb(226, 101, 250);
    --primary-o-1: rgba(226, 101, 250, 0.1);
    --primary-o-2: rgba(226, 101, 250, 0.2);
    --primary-o-3: rgba(226, 101, 250, 0.3);
    --primary-o-4: rgba(226, 101, 250, 0.4);
    --primary-o-5: rgba(226, 101, 250, 0.5);
    --primary-o-6: rgba(226, 101, 250, 0.6);
    --primary-o-7: rgba(226, 101, 250, 0.7);
    --primary-o-8: rgba(226, 101, 250, 0.8);
    --primary-o-9: rgba(226, 101, 250, 0.9);
}

body.color_seven {
    --primary: rgb(173, 96, 255);
    --primary-o-1: rgba(173, 96, 255, 0.1);
    --primary-o-2: rgba(173, 96, 255, 0.2);
    --primary-o-3: rgba(173, 96, 255, 0.3);
    --primary-o-4: rgba(173, 96, 255, 0.4);
    --primary-o-5: rgba(173, 96, 255, 0.5);
    --primary-o-6: rgba(173, 96, 255, 0.6);
    --primary-o-7: rgba(173, 96, 255, 0.7);
    --primary-o-8: rgba(173, 96, 255, 0.8);
    --primary-o-9: rgba(173, 96, 255, 0.9);
}

body.color_eight {
    --primary: rgb(125, 91, 255);
    --primary-o-1: rgba(125, 91, 255, 0.1);
    --primary-o-2: rgba(125, 91, 255, 0.2);
    --primary-o-3: rgba(125, 91, 255, 0.3);
    --primary-o-4: rgba(125, 91, 255, 0.4);
    --primary-o-5: rgba(125, 91, 255, 0.5);
    --primary-o-6: rgba(125, 91, 255, 0.6);
    --primary-o-7: rgba(125, 91, 255, 0.7);
    --primary-o-8: rgba(125, 91, 255, 0.8);
    --primary-o-9: rgba(125, 91, 255, 0.9);
}
