.navbar {
    width: 220px;
    height: 100%;
    background-color: var(--black);
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding-bottom: 50px;
    border-right: 1px solid var(--black);
    overflow: hidden;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar:hover {
    overflow: auto;
}

.navbar::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.navbar::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--primary);
}

.navbar .nav-item-header {
    font-size: 12px;
    font-weight: 900;
    color: var(--dark-grey);
    text-transform: uppercase;
    margin: 30px 20px;
}

.navbar .nav-item {
    padding: 10px 20px;
    margin: 7px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 3px solid transparent;
    /* border: 1px solid red; */
}

.navbar .nav-item.active-nav-item {
    border-left: 3px solid var(--primary);
    background: linear-gradient(135deg, var(--primary-o-3), transparent, transparent);
    /* border: 1px solid blue; */
}

.navbar .nav-item.active-nav-item svg path {
    fill: var(--text);
}

.navbar .nav-item.active-nav-item span {
    color: var(--text);
}

.navbar .nav-item svg {
    width: 18px;
    height: 18px;
}

.navbar .nav-item svg path {
    fill: var(--dark-grey);
}

.navbar .nav-item span {
    color: var(--light-grey);
    margin-left: 20px;
    font-size: 14px;
    font-weight: 900;
}

.navbar .nav-item:hover svg path {
    fill: var(--text);
}

.navbar .nav-item:hover span {
    color: var(--text);
}
